body {
  margin: 0;
  height: 100%;
  background-color: #282c34;
  color: white;
  font-family: Cambria, Georgia, "Times New Roman", Times, serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}